<h1>user<%= @tasklist.id %> 編集ページ</h1>


<%= render 'form', tasklist: @tasklist %>

<p>タイトル: <%= @tasklist.status %></p>
<p>メッセージ: <%= @tasklist.content %></p>


<%= link_to '戻る', tasklists_path %>
<%= link_to '編集する', edit_tasklist_path(@tasklist) %>
<%= link_to 'このメッセージを削除する', @tasklist, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>